html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b1b;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

h1{
  text-align: center;
}

.project-github{
  display: grid;
  place-items: center;
}

.project-github p{
  font-weight: bold;
}

.card {
  display : grid;
  place-items: center;
}

textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;  /* Color de fondo para el textarea */
  color: white;  /* Color de texto blanco */
  border-radius: 4px;
  font-size: 20px;
  height: 300px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;  /* Color de fondo del botón */
  color: white;  /* Color de texto blanco */
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;  /* Cambio de color al pasar el mouse */
}

p {
  font-weight: bold;
}


