/* Clases para los diferentes tipos de predicción */
.prediction {
    font-weight: bold;
    font-size: 36px;
  }
  
  .irrelevant {
    color: #808080;  /* Gris para "Irrelevant" */
  }
  
  .negative {
    color: #FF6347;  /* Rojo para "Negative" */
  }
  
  .neutral {
    color: #FFD700;  /* Amarillo para "Neutral" */
  }
  
  .positive {
    color: #32CD32;  /* Verde para "Positive" */
  }